<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.googlecode.camelrouteviewer"
            name="Camel">
      </category>
      <view
            category="com.googlecode.camelrouteviewer"
            class="com.googlecode.camelrouteviewer.views.RouteView"
            icon="icons/view.gif"
            id="com.googlecode.camelrouteviewer.views.RouteView"
            name="Camel Route">
      </view>
      <view
            category="com.googlecode.camelrouteviewer"
            class="com.googlecode.camelrouteviewer.views.messages.MessagesView"
            icon="icons/sample.gif"
            id="com.googlecode.camelrouteviewer.views.messages.MessagesView"
            name="Messages View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.googlecode.camelrouteviewer.views.RouteView"
               relationship="stack"
               relative="org.eclipse.jdt.ui.JavadocView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.googlecode.camelrouteviewer.views.messages.MessagesView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.googlecode.camelrouteviewer.properties.NodePropertyPage"
            id="com.googlecode.camelrouteviewer.properties.nodePropertyPage"
            name="Node Page"
            nameFilter="*.*"
            objectClass="com.googlecode.camelrouteviewer.content.RouteNode">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
       point="org.eclipse.core.runtime.contentTypes">
       <content-type 
           id="com.googlecode.camelrouteviewer.contentDescriber.SpringContentDescriber"
           name="Tests top-level element recognition" 	
           base-type="org.eclipse.core.runtime.xml"
           priority="high">
           <describer class="com.googlecode.camelrouteviewer.contentDescriber.SpringContentDescriber"/>
        </content-type>
   </extension>   
   
	<extension point="org.eclipse.ui.popupMenus">
  		<objectContribution
    		id="com.googlecode.camelrouteviewer.action.SpringVisualizeAction"      
      		objectClass="org.eclipse.core.resources.IFile" 
        	nameFilter="*.xml"> 
           <visibility>
                   <objectState
                       name="contentTypeId"
                       value="com.googlecode.camelrouteviewer.contentDescriber.SpringContentDescriber"/>
           </visibility>
  		<action
          class="com.googlecode.camelrouteviewer.action.LocalLaunchCamelAction"
          enablesFor="1"
          icon="icons/view.gif"
          id="com.googlecode.camelrouteviewer.action.LaunchCamelAction"
          label="Run Camel Route">
                      </action>
<!-- 
  		<action
          class="com.googlecode.camelrouteviewer.action.SpringVisualizeAction"
          enablesFor="1"
          icon="icons/view.gif"
          id="com.googlecode.camelrouteviewer.action.SpringVisualizeAction"
          label="Visualize Camel Route">
                      </action>
-->
  		</objectContribution>
	</extension>
 <extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
    
    <launchConfigurationType
			delegate="com.googlecode.camelrouteviewer.launcher.CamelLaunchConfigurationDelegate"
            delegateDescription="CamelConfigurationType"
            delegateName="Camel Launch"
            id="com.googlecode.camelrouteviewer.launchConfigurationType"
            modes="run,debug"
            name="Camel Launch">
      </launchConfigurationType>
    
    
<!--

 <launchConfigurationType
       category="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.localJavaApplication"
       delegate="com.googlecode.camelrouteviewer.launcher.CamelLaunchConfigurationDelegate"
       id="com.googlecode.camelrouteviewer.launchConfigurationType"
       modes="run, debug"
       name="Camel"
       sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
       sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
                </launchConfigurationType>
-->

            
 </extension>
 
 <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="com.googlecode.camelrouteviewer.launchConfigurationType"
        class="com.googlecode.camelrouteviewer.launcher.CamelTabGroup"
        id="com.googlecode.camelrouteviewer.launcher.camelTabGroup">
    </launchConfigurationTabGroup>
</extension>
	

	
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Camel Lancher"
            icon="icons/view.gif"
            modes="run,debug"
            class="com.googlecode.camelrouteviewer.launcher.CamelLaunchShortcut"
            id="com.googlecode.camelrouteviewer.launcher.type.lanchShortcut">
	        
	        <configurationType 
               id="com.googlecode.camelrouteviewer.launchConfigurationType">
         	</configurationType>
            
			<perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
			<perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
			<perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/> 
			<perspective id="org.eclipse.debug.ui.DebugPerspective"/> 
			<contextualLaunch> 
				<enablement>
	                <with variable="selection">
						<count value="1"/>
						<iterate>
							<or>                   
								<test property="org.eclipse.debug.ui.matchesContentType" value="com.googlecode.camelrouteviewer.contentDescriber.SpringContentDescriber"/>
							</or>
						</iterate>
					</with>
	            </enablement>
	         </contextualLaunch>            
	    </shortcut>
   </extension>
	
	
	<extension point="org.eclipse.ui.commands"> 
		<command name="Run Camel Launch" 
			description="Run Camel Launch" 
			categoryId="org.eclipse.debug.ui.category.run"
			id="com.googlecode.camelrouteviewer.launcher.type.lanchShortcut.run">
		</command>    
		<keyBinding keySequence="M3+M2+x C"
			contextId="org.eclipse.ui.globalScope"
			commandId="com.googlecode.camelrouteviewer.launcher.type.lanchShortcut.run"
			keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">  
		</keyBinding>
	</extension> 
	     
	<extension point="org.eclipse.ui.commands"> 
		<command name="Debug Camel Launch" 
			description="Debug Camel Launch" 
			categoryId="org.eclipse.debug.ui.category.run"
			id="com.googlecode.camelrouteviewer.launcher.type.lanchShortcut.debug">
		</command>    
		<keyBinding keySequence="M3+M2+D C"
			contextId="org.eclipse.ui.globalScope"
			commandId="com.googlecode.camelrouteviewer.launcher.type.lanchShortcut.debug"
			keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">  
		</keyBinding>
	</extension>     
    
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="com.googlecode.camelrouteviewer.launchConfigurationType"
			icon="icons/view.gif"
            id="com.googlecode.camelrouteviewer.launcher.type.icon">
      </launchConfigurationTypeImage>
   </extension>  

	<!--may be in future: implement an other xml editor class integrate camel visual route.
	<extension point = "org.eclipse.ui.editors">
		<editor
  	  	 id = "com.googlecode.camelrouteviewer.editor.CamelSpringEditor"
      	   icon="icons/view.gif"
      	   name="Camel XML Editor"
	  	   extensions="xml">
	     <contentTypeBinding contentTypeId="com.googlecode.camelrouteviewer.camelSpringContentType" />   
		</editor>
	</extension>
	-->

</plugin>
