<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.googlecode.camelrouteviewer"
            name="Camel">
      </category>
      <view
            category="com.googlecode.camelrouteviewer"
            class="com.googlecode.camelrouteviewer.views.RouteView"
            icon="icons/view.gif"
            id="com.googlecode.camelrouteviewer.views.RouteView"
            name="Camel Route">
      </view>
      <view
            category="com.googlecode.camelrouteviewer"
            class="com.googlecode.camelrouteviewer.views.messages.MessagesView"
            icon="icons/sample.gif"
            id="com.googlecode.camelrouteviewer.views.messages.MessagesView"
            name="Messages View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.googlecode.camelrouteviewer.views.RouteView"
               relationship="stack"
               relative="org.eclipse.jdt.ui.JavadocView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.googlecode.camelrouteviewer.views.messages.MessagesView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.googlecode.camelrouteviewer.properties.NodePropertyPage"
            id="com.googlecode.camelrouteviewer.properties.nodePropertyPage"
            name="Node Page"
            nameFilter="*.*"
            objectClass="com.googlecode.camelrouteviewer.content.RouteNode">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
